@tailwind base;

@layer base {
  :root {
    --primary-0: hsl(354.29deg, 100%, 95.88%);
    --primary-1: hsl(356.92deg, 86.67%, 91.18%);
    --primary-2: hsl(356.76deg, 74%, 80.39%);
    --primary-3: hsl(357.35deg, 72.9%, 69.61%);
    --primary-4: hsl(357.53deg, 72.28%, 60.39%);
    --primary-5: hsl(357.86deg, 73.04%, 54.9%);
    --primary-6: hsl(357.35deg, 73.88%, 51.96%);
    --primary-7: hsl(357.32deg, 74.27%, 47.25%);
    --primary-8: hsl(356.52deg, 77.89%, 39.02%);
    --primary-9: hsl(353.42deg, 89.02%, 32.16%);

    --red-0: hsl(354.29deg, 100%, 95.88%);
    --red-1: hsl(356.92deg, 86.67%, 91.18%);
    --red-2: hsl(356.76deg, 74%, 80.39%);
    --red-3: hsl(357.35deg, 72.9%, 69.61%);
    --red-4: hsl(357.53deg, 72.28%, 60.39%);
    --red-5: hsl(357.86deg, 73.04%, 54.9%);
    --red-6: hsl(357.35deg, 73.88%, 51.96%);
    --red-7: hsl(357.32deg, 74.27%, 47.25%);
    --red-8: hsl(356.52deg, 77.89%, 39.02%);
    --red-9: hsl(353.42deg, 89.02%, 32.16%);

    --green-0: hsl(152.73deg, 91.67%, 95.29%);
    --green-1: hsl(152.43deg, 78.72%, 90.78%);
    --green-2: hsl(152.05deg, 75.26%, 80.98%);
    --green-3: hsl(151.61deg, 74.67%, 70.59%);
    --green-4: hsl(151.25deg, 75%, 62.35%);
    --green-5: hsl(150.55deg, 75.12%, 57.45%);
    --green-6: hsl(150.86deg, 75.11%, 54.31%);
    --green-7: hsl(150.73deg, 68.91%, 46.67%);
    --green-8: hsl(152.13deg, 77.11%, 39.41%);
    --green-9: hsl(154.68deg, 100%, 30.2%);

    --yellow-0: hsl(42deg, 100%, 94.12%);
    --yellow-1: hsl(38.08deg, 100%, 89.8%);
    --yellow-2: hsl(36.83deg, 100%, 80.2%);
    --yellow-3: hsl(36.77deg, 100%, 69.61%);
    --yellow-4: hsl(36.6deg, 100%, 60.78%);
    --yellow-5: hsl(36.32deg, 100%, 55.29%);
    --yellow-6: hsl(36.71deg, 100%, 50%);
    --yellow-7: hsl(36.74deg, 100%, 44.51%);
    --yellow-8: hsl(36.35deg, 100%, 39.8%);
    --yellow-9: hsl(35.8deg, 100%, 34.51%);

    --gray-0: hsl(0deg, 0%, 96.08%);
    --gray-1: hsl(0deg, 0%, 94.12%);
    --gray-2: hsl(0deg, 0%, 86.67%);
    --gray-3: hsl(228deg, 5.38%, 81.76%);
    --gray-4: hsl(0deg, 0%, 72.55%);
    --gray-5: hsl(228deg, 4.07%, 24.12%);
    --gray-6: hsl(0deg, 0%, 23.14%);
    --gray-7: hsl(0deg, 0%, 14.9%);
    --gray-8: hsl(0deg, 0%, 11.37%);
    --gray-9: hsl(0deg, 0%, 6.27%);
  }
}
